{% extends 'base.html' %}
{% block title %}All Blogs{% endblock %}

{% block body %}
<h1>Welcome to the blog list page</h1>

<div>
  <label for="category">Select a category:</label>
  <select id="category">
    <option value="All Categories">All Categories</option>
    {% for category in categories %}
    <option value="{{ category }}">{{ category }}</option>
    {% endfor %}
  </select>
</div>

<div style="margin:auto;width:70%">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Summary</th>
      </tr>
    </thead>
    <tbody id="blog-list">
      {% for blog in blogs %}
      <tr>
        <td>{{ blog.category}}</td>
        <td>{{ blog.title }}</td>
        <td><img src="{{ blog.image.url }}" alt="Blog Image" style="max-width: 100px; max-height: 100px;"></td>
        <td>{{ blog.summary|truncatewords:15 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.getElementById('category').addEventListener('change', function() {
    var selectedCategory = this.value;
    fetch('/blog_list/?category=' + selectedCategory)
      .then(response => response.text())
      .then(data => {
        var tempDiv = document.createElement('div');
        tempDiv.innerHTML = data;
        
        var newRows = tempDiv.querySelector('#blog-list').innerHTML;
        
        document.getElementById('blog-list').innerHTML = newRows;
      });
  });
</script>

{% endblock %}
